# Data types and Structures

1- What are data structures, and why are they important?
   - Data structures are ways to organize and store data efficiently. They help me write code that is clean, fast, and easy to manage, especially when dealing with large data like for UPSC datasets or analytics.

2 - Explain the difference between mutable and immutable data types with examples.
  - Mutable means changeable. E.g., lists are mutable ([1, 2] → [1, 3]). Immutable means unchangeable. E.g., strings ("hello" can't become "hallo" without creating a new one).

3 - What  are the main differences between lists and tuples in Python?
   - Lists are mutable, slow, and written as [ ]. Tuples are immutable, faster, and written as ( ). I use tuples when I don’t want the data to change.

4 - Describe how dictionaries store data.
  - Dictionaries store data as key-value pairs like {“name”: “Alfiya”}. It’s like labeling drawers and putting info inside them .

5- Why might you use a set instead of a list in Python?
 - Sets don’t allow duplicates and are faster for searching. I use them when I want unique items only, like unique roll numbers.

6 - What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters ("PWSKILLS"). It's immutable. A list can store many data types and can be changed. Strings = text, Lists = mixed bag.

7 - How do tuples ensure data integrity in Python?
 - Tuples are immutable. Once I create a tuple, its data can’t be changed, which helps in keeping original data safe.

8 - What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that uses a hash function to map keys to values. Python dictionaries use it internally for fast access.

8 -  Can lists contain different data types in Python?
 - Yes! Lists can store numbers, strings, other lists – anything. Like my study checklist: [“Python”, 2, [“Ethics”].

9 - Explain why strings are immutable in Python.
 - Strings are immutable to make them memory efficient and safe during operations like hashing (used in dictionaries).

10 - What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries are faster for lookups using keys. Instead of checking through a list, I can go directly to the value using the key.

11 - Describe a scenario where using a tuple would be preferable over a list.
 - When I have a fixed set of items like days of the week or coordinates, I use a tuple. It prevents accidental changes.

12 - How do sets handle duplicate values in Python?
 - Sets automatically remove duplicates. {1, 2, 2, 3} becomes {1, 2, 3}. Super useful when cleaning data!

13 - How does the “in” keyword work differently for lists and dictionaries?
 - In lists: checks for a value → 3 in [1,2,3]
In dictionaries: checks for a key → "name" in {"name": "Alfiya"}

14 - Can you modify the elements of a tuple? Explain why or why not.
  -No ,  Tuples are immutable. You can't change elements after creation. It's like a sealed envelope.

16 - What is a nested dictionary, and give an example of its use case?
 - A dictionary inside another dictionary.
Example:

python
Copy
coding
student = {"name": "Alfiya", "marks": {"Math": 90, "Eco": 95}}
Use case: Storing complex data like student records or  marks.

17 - Describe the time complexity of accessing elements in a dictionary.
 - Average case is O(1) – constant time. Very fast because of hash tables.

18 - In what situations are lists preferred over dictionaries?
 - When I care about order or need to store items without a label/key. Like storing a list of topics to revise.

19- Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Before Python 3.7, dictionaries didn’t preserve insertion order. Even now, order shouldn’t be relied upon. We access data via keys, not position.

20  - Explain the difference between a list and a dictionary in terms of data retrieval.

List: retrieve by index → list[0]

Dictionary: retrieve by key → dict["name"]
Dicts are faster and more meaningful when I know the key.

In [1]:
#1 Create a string and print it

my_string = "Hello Alfiya"
print(my_string)

Hello Alfiya

In [2]:
# 2. Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 18).
numbers = (10, 20, 5, 18)
print(min(numbers))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [16]:
# 16. Write a code to create a set with elements {1, 2, 3, 6} and print it.
my_set = {1, 2, 3, 6}
print(my_set)

{1, 2, 3, 6}

In [17]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.clear()
print(my_set)

set()

In [18]:
# 18. Write a code to remove the element 2 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(2)
print(my_set)

{1, 3, 4}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [21]:
# 21. Write a code to create a dictionary with the keys "name", "age" and "city", and print it.
my_dict = {"name": "Alfiya", "age": 19, "city": "Jaipur"}
print(my_dict)

{'name': 'Alfiya', 'age': 19, 'city': 'Jaipur'}

In [22]:
# 22. Write a code to add a new key-value pair ("country": "India") to the dictionary.
my_dict["country"] = "India"
print(my_dict)

{'name': 'Alfiya', 'age': 19, 'city': 'Jaipur', 'country': 'India'}

In [23]:
# 23. Write a code to remove the key "name" from the dictionary {"name": "John", "age": 25}.
my_dict = {"name": "John", "age": 25}
my_dict.pop("name")
print(my_dict)

{'age': 25}

In [24]:
# 24. Write a code to access the value associated with the key "name" in the dictionary {"name": "Alice", "age": 30}.
person = {"name": "Alice", "age": 30}
print(person["name"])

Alice

In [27]:
# 25. Write a code to access the key "age" from the dictionary {"name": "Bob", "age": 22, "city": "New York"}.
data = {"name": "Bob", "age": 22, "city": "New York"}
print(data["age"])

22

In [28]:
# 26. Write a code to change the key "city" value in the dictionary {"name": "Alfiya", "city": "Paris"}.
info = {"name": "Alfiya", "city": "Paris"}
info["city"] = "Delhi"
print(info)

{'name': 'Alfiya', 'city': 'Delhi'}

In [29]:
# 29. Write a code to create a list with strings and print the element at the third index.
words = ["upsc", "python", "data", "science", "Alfiya"]
print(words[3])

science

In [30]:
# 30. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}